---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPost from "../../components/BlogPost.astro";

export async function getStaticPaths() {
    const allPosts = Object.values(
        import.meta.glob("../posts/*.md", { eager: true }),
    );

    var tagIndex = new Map();
    for (const post of allPosts) {
        for (const tag of post.frontmatter.tags) {
            console.log([...tagIndex]);
            // console.log("Considering tag " + tag + " when tagIndex has " + [...tagIndex]);
            if (tagIndex.has(tag)) {
                tagIndex.get(tag).push(post);
            } else {
                tagIndex.set(tag, [post]);
            }
        }
    }
    var output = [];
    for (let [key, value] of tagIndex) {
        output.push({ params: { tag: key }, props: { posts: value } });
    }
    return output;
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts;
const pageTitle = "Posts tagged with " + tag;
---

<BaseLayout pageTitle={pageTitle}>
    <p>Posts tagged with {tag}</p>
    <ul>
        {
            filteredPosts.map((post: any) => (
                <BlogPost url={post.url} title={post.frontmatter.title} />
            ))
        }
    </ul>
</BaseLayout>
